# project
target/
.lein-repl-history
.lein-failures
.nrepl-port
logs/
*.log
.dir-locals.el
dev/resources/local.edn
dev/src/clj/local.clj
tmp/

# IDE
*.swp
.idea/
*.iml

# Duct locals
.dir-locals.el
dev/resources/local.edn
dev/src/clj/local.clj
dev/src/local.clj
test/testing-local.edn
profiles.clj
